.fitMaps iframe{
    width: 100%;
}
.btn170{font-family: 'Raleway'; max-width: 170px; display: block; box-sizing: border-box; text-align: center; margin: 0 auto; border-radius: 5px;}
@media screen and (max-width: 768px) {
    
    .wrap{
        margin: 0 auto;
        padding-left: 3% !important; padding-right: 3% !important; box-sizing: border-box;
        
    }
    a{color: inherit;}
    footer > div:not(:nth-of-type(2)),
    footer > div:nth-of-type(2) > div{
      margin: 0 auto;
    }
    header.fixed {position: fixed; width: 100%; /* max-width: 1200px; */ margin: 0 auto; top: 0px; left: 50%; transform: translateX(-50%); background-color: #fff; z-index: 10; box-shadow: 0px 2px 20px -5px #525252;}
    header > div{
        padding: 30px 0 ; text-transform: uppercase; box-sizing: border-box; position: relative;
    }
    header > div h1{color: var(--sky3); padding: 8px 0 8px 30px; box-sizing: border-box; background: url(../images/header_logo.png) no-repeat left;}
    header > div > nav > div:last-of-type{color: var(--cyan4); text-align: right;}
    header > div > nav > div:last-of-type a{display: block; line-height: 30px;}
    header > div > nav > div:last-of-type a:not(:last-of-type){margin-bottom: 20px;}
    header > div > nav > div:last-of-type a:hover{color: var(--sky3);}
    header > div > nav .mobileNav{cursor: pointer;}
    header > div > nav .mobileNav span{transition: transform 0.5s ease;}
    header > div > nav .mobileNav span:nth-of-type(1){transform: translateY(0px) rotate(0deg);}
    header > div > nav .mobileNav span:nth-of-type(2){opacity: 1;}
    header > div > nav .mobileNav span:nth-of-type(3){transform: translateY(0px) rotate(0deg);}
    header > div > nav .mobileNav.active span:nth-of-type(1){transform: translateY(7px) rotate(405deg);}
    header > div > nav .mobileNav.active span:nth-of-type(2){opacity: 0;}
    header > div > nav .mobileNav.active span:nth-of-type(3){transform: translateY(-7px) rotate(-405deg);}
    header > div > nav{ width: 100%;/*  position: relative; *//* position: absolute; top: 0; left: 2%; z-index: 10; width: 96%;  */}
    header > div > nav > .mobileNav{position: absolute; top: 35px; right: 3%;}
    header > div > nav > .mobileNav span{height: 2px; background-color: #666; display: block; width: 20px; transition: 1s;}
    header > div > nav > .mobileNav span:not(:last-of-type){margin-bottom: 5px;}
    header > div > nav > div:last-of-type{display: none; opacity: 0;}
    header > div > nav > div:last-of-type.active{display: block; opacity: 1; transition: 2s; position: absolute; padding: 20px 3% !important; box-sizing: border-box; right: 0; z-index: 10; width: 100%; background-color: white;}
    
    footer{
        background-color: #38524d;
    }
    footer > div:nth-of-type(2){
        background-color: white;
    }
    footer > div:nth-of-type(1){padding: 65px 0; background-color:  var(--sky3); position: relative;}
    /* footer > div:nth-of-type(1)::before{content: ''; display: inline-block;border-left: 1px solid #4fd36d; width: 1px; height: 70px; position: absolute; transform: translate(0 , -25%); box-shadow: -0.5px 0px 4px 0px #3e7653;} */
    footer > div:nth-of-type(1){display: flex; flex-direction: column;}
    footer > div:nth-of-type(1) p{color: var(--gray9); width: 92%; max-width: 665px; line-height: 21px; text-align: center; margin: 0 auto 35px;}
    footer > div:nth-of-type(1) a{background: url("../images/add_restaurant.png") no-repeat 20px center #51d46e; color: white; border-radius: 5px; width: 68%; max-width: 190px; border: 1px solid #51d46e; background-color: #51d46e; padding: 17px var(--w20); text-align: right; box-sizing: border-box; margin: 0 auto;}
    footer > div:nth-of-type(2){padding: 40px 0;}
    footer > div:nth-of-type(2) > div{margin-bottom: 30px; text-align: center;}
    /* footer > div:nth-of-type(2) div > *{float: left;} */
    /* footer > div:nth-of-type(2) div::after{content: ''; clear: both; display: block; visibility: hidden;} */
    footer > div:nth-of-type(2) > div > ul{/* margin-right: 19%; */ background: url("../images/expand_more.png") no-repeat right top; cursor: pointer; color: var(--cyan4); width: 93%; max-width: 260px; margin: 0 auto 30px;}
    footer > div:nth-of-type(2) > div > ul.active{font-size: 14px;}
    footer > div:nth-of-type(2) > div > ul li:not(footer > div:nth-of-type(2) > div > ul.active li.active){display: none;}
    footer > div:nth-of-type(2) > div > ul li.active{display: block !important;}
    footer > div:nth-of-type(2) > div > ul.active li{display: block !important;}
    footer > div:nth-of-type(2) > div > ul::after{content: ''; display: block; clear: both; visibility: hidden;}
    /* footer > div:nth-of-type(2) > div > ul li{float: left; width: 32%;} */
    footer > div:nth-of-type(2) > div > ul li:not(:first-of-type , footer > div:nth-of-type(2) div > ul li:nth-of-type(4)){margin-left: 3%;}
    footer > div:nth-of-type(2) > div > ul li:not(:first-of-type){margin-top: 20px;}
    footer > div:nth-of-type(2) > div > a:not(:first-of-type){margin-left: 20px;}
    footer > div:nth-of-type(2) > div > a:nth-of-type(1){background: url('../images/sns_01.png') no-repeat center; display: inline-block; text-indent: -9999px; padding: 0px 8px; box-sizing: border-box;}
    footer > div:nth-of-type(2) > div > a:nth-of-type(2){background: url('../images/sns_02.png') no-repeat center; display: inline-block; text-indent: -9999px; padding: 0px 8px; box-sizing: border-box;}
    footer > div:nth-of-type(2) > div > a:nth-of-type(3){background: url('../images/sns_03.png') no-repeat center; display: inline-block; text-indent: -9999px; padding: 0px 6px; box-sizing: border-box;}
    footer > div:nth-of-type(2) > div > a:nth-of-type(4){background: url('../images/sns_04.png') no-repeat center; display: inline-block; text-indent: -9999px; padding: 0px 6px; box-sizing: border-box;}
    footer > div:nth-of-type(2) .bx-wrapper{
        box-shadow: none;
        border: none;
        background: #fff;
        position: relative;
        margin-bottom: 0px;
        padding: 0;
        max-width: 720px !important;
    }
    footer > div:nth-of-type(2) .bx-wrapper .bx-viewport{
        /* height: 20px !important; */padding: 12px 0;
    }
    footer > div:nth-of-type(2) .bx-wrapper .bx-viewport .tickerSlider:after{
        content: ''; display: block; clear: both; 
    }
    footer > div:nth-of-type(2) .bx-wrapper .bx-viewport .tickerSlider li a{
        color: var(--gray3); display: block; text-align: center;
    }
    footer > div:nth-of-type(3){padding: 30px 3%; display: flex; flex-direction: column-reverse; width: 100%; box-sizing: border-box; background-color: #38524d;}
    footer > div:nth-of-type(3)::after{content: ''; display: block; clear: both; visibility: hidden;}
    footer > div:nth-of-type(3) > *{color: var(--gray9);}
    footer > div:nth-of-type(3) ul{width: 100%; text-align: right; margin-bottom: 30px;}
    footer > div:nth-of-type(3) ul li:nth-of-type(1){width: 45%; display: inline-block;}
    footer > div:nth-of-type(3) ul li:nth-of-type(2){width: 30%; display: inline-block;}
    footer > div:nth-of-type(3) ul li:nth-of-type(3){width: 45%;display: inline-block; }
    footer > div:nth-of-type(3) ul li:nth-of-type(4){width: 42%; display: inline-block;}
    /* footer > div:nth-of-type(3) ul li:nth-of-type(2n){margin-left: 5%;} */
    footer > div:nth-of-type(3) ul li:nth-of-type(n+3){margin-top: 30px;}
    /* footer > div:nth-of-type(3) ul li{margin-left: 4.2%;} */
    footer > div:nth-of-type(3) ul li a{color: inherit;}

}
@media screen and (min-width: 768px) and (max-width:1279px) {
    .wrap{
        margin: 0 auto;
        max-width: 720px;
        
    }
    a{color: inherit;}
    footer > div:not(:nth-of-type(2)),
    footer > div:nth-of-type(2) > div{
        max-width: 1200px; margin: 0 auto;
    }
    header.fixed {position: fixed; width: 100%; /* max-width: 1200px; */ margin: 0 auto; top: 0px; left: 50%; transform: translateX(-50%); background-color: #fff; z-index: 10; box-shadow: 0px 2px 20px -5px #525252;}
    header > div{
        display: flex; justify-content: space-between; padding: 30px 2% ; text-transform: uppercase; box-sizing: border-box;
    }
    header > div h1{color: var(--sky3); padding: 8px 0 8px 30px; box-sizing: border-box; background: url(../images/header_logo.png) no-repeat left;}
    header > div > nav > div:first-of-type{display: none;}
    header > div > nav > div:last-of-type{color: var(--cyan4);}
    header > div > nav > div:last-of-type a{display: inline-block; line-height: 30px;}
    header > div > nav > div:last-of-type a:not(:first-of-type){margin-left: 20px;}
    header > div > nav > div:last-of-type a:hover{color: var(--sky3);}
    
    footer{
        background-color: #38524d;
    }
    footer > div:nth-of-type(2){
        background-color: white;
    }
    footer > div:nth-of-type(1){padding: 65px 0; background-color:  var(--sky3); position: relative;}
    /* footer > div:nth-of-type(1)::before{content: ''; display: inline-block;border-left: 1px solid #4fd36d; width: 1px; height: 70px; position: absolute; transform: translate(0 , -25%); box-shadow: -0.5px 0px 4px 0px #3e7653;} */
    footer > div:nth-of-type(1){display: flex; flex-direction: column;}
    footer > div:nth-of-type(1) p{color: var(--gray9); width: 92%; max-width: 665px; line-height: 21px; text-align: center; margin: 0 auto 35px;}
    footer > div:nth-of-type(1) a{background: url("../images/add_restaurant.png") no-repeat 20px center #51d46e; color: white; border-radius: 5px; width: 26.3%; max-width: 190px; border: 1px solid #51d46e; background-color: #51d46e; padding: 17px var(--w20); text-align: right; box-sizing: border-box; margin: 0 auto;}
    footer > div:nth-of-type(2){padding: 40px 0;}
    footer > div:nth-of-type(2) > div{margin-bottom: 30px; text-align: center;}
    /* footer > div:nth-of-type(2) div > *{float: left;} */
    /* footer > div:nth-of-type(2) div::after{content: ''; clear: both; display: block; visibility: hidden;} */
    footer > div:nth-of-type(2) > div > ul.active{font-size: 14px;}
    footer > div:nth-of-type(2) > div > ul{/* margin-right: 19%; */ color: var(--cyan4); width: 72%; margin: 0 auto 30px;}
    footer > div:nth-of-type(2) > div > ul::after{content: ''; display: block; clear: both; visibility: hidden;}
    footer > div:nth-of-type(2) > div > ul li{float: left; width: 32%;}
    footer > div:nth-of-type(2) > div > ul li:not(:first-of-type , footer > div:nth-of-type(2) div > ul li:nth-of-type(4)){margin-left: 2%;}
    footer > div:nth-of-type(2) > div > ul li:nth-of-type(n+4){margin-top: 30px;}
    footer > div:nth-of-type(2) > div > a:not(:first-of-type){margin-left: 20px;}
    footer > div:nth-of-type(2) > div > a:nth-of-type(1){background: url('../images/sns_01.png') no-repeat center; display: inline-block; text-indent: -9999px; padding: 0px 8px; box-sizing: border-box;}
    footer > div:nth-of-type(2) > div > a:nth-of-type(2){background: url('../images/sns_02.png') no-repeat center; display: inline-block; text-indent: -9999px; padding: 0px 8px; box-sizing: border-box;}
    footer > div:nth-of-type(2) > div > a:nth-of-type(3){background: url('../images/sns_03.png') no-repeat center; display: inline-block; text-indent: -9999px; padding: 0px 6px; box-sizing: border-box;}
    footer > div:nth-of-type(2) > div > a:nth-of-type(4){background: url('../images/sns_04.png') no-repeat center; display: inline-block; text-indent: -9999px; padding: 0px 6px; box-sizing: border-box;}
    footer > div:nth-of-type(2) .bx-wrapper{
        box-shadow: none;
        border: none;
        background: #fff;
        position: relative;
        margin-bottom: 0px;
        padding: 0;
        max-width: 720px !important;
    }
    footer > div:nth-of-type(2) .bx-wrapper .bx-viewport{
        /* height: 20px !important; */padding: 10px 0;
    }
    footer > div:nth-of-type(2) .bx-wrapper .bx-viewport .tickerSlider:after{
        content: ''; display: block; clear: both; 
    }
    footer > div:nth-of-type(2) .bx-wrapper .bx-viewport .tickerSlider li a{
        color: var(--gray3); display: block; text-align: center;
    }
    footer > div:nth-of-type(3){padding: 30px 0; width: 97%; max-width: 700px; box-sizing: border-box; background-color: #38524d;}
    footer > div:nth-of-type(3)::after{content: ''; display: block; clear: both; visibility: hidden;}
    footer > div:nth-of-type(3) > *{float: left; color: var(--gray9);}
    footer > div:nth-of-type(3) ul{width: 67%;}
    footer > div:nth-of-type(3) ul li{float: left;}
    footer > div:nth-of-type(3) ul li{margin-left: 4.2%;}
    footer > div:nth-of-type(3) ul li a{color: inherit;}

}

@media screen and (min-width: 1280px) {
    .wrap{
        margin: 0 auto;
        max-width: 1200px;
    }
    a{color: inherit;}
    footer > div:not(:nth-of-type(2)),
    footer > div:nth-of-type(2) > div{
        max-width: 1200px; margin: 0 auto;
    }
    header.fixed {position: fixed; width: 100%; /* max-width: 1200px; */ margin: 0 auto; top: 0px; left: 50%; transform: translateX(-50%); background-color: #fff; z-index: 10; box-shadow: 0px 2px 20px -5px #525252;}
    header > div{
        display: flex; justify-content: space-between; padding: 30px 0 ; text-transform: uppercase; box-sizing: border-box;
    }
    header > div > h1{color: var(--sky3); padding: 8px 0 8px 30px; box-sizing: border-box; background: url(../images/header_logo.png) no-repeat left;}
    header > div > nav > div:last-of-type{color: var(--cyan4);}
    header > div > nav > div:last-of-type a{display: inline-block; line-height: 30px;}
    header > div > nav > div:last-of-type a:not(:first-of-type){margin-left: 40px;}
    header > div > nav > div:last-of-type a:hover{color: var(--sky3);}
    
    footer{
        background-color: #38524d;
    }
    footer > div:nth-of-type(2){
        background-color: white;
    }
    footer > div:nth-of-type(1){padding: 65px 0; background-color:  var(--sky3); position: relative;}
    footer > div:nth-of-type(1)::before{content: ''; display: inline-block;border-left: 1px solid #4fd36d; width: 1px; height: 70px; position: absolute; transform: translate(0 , -25%); box-shadow: -0.5px 0px 4px 0px #3e7653;}
    footer > div:nth-of-type(1){display: flex; justify-content: space-between;}
    footer > div:nth-of-type(1) p{color: var(--gray9); padding-left: 3%; width: 56%; max-width: 708px; line-height: 21px;}
    footer > div:nth-of-type(1) a{background: url("../images/add_restaurant.png") no-repeat 20px center #51d46e; color: white; border-radius: 5px; width: 16%; max-width: 190px; border: 1px solid #51d46e; background-color: #51d46e; padding: 17px var(--w20); text-align: right; box-sizing: border-box;}
    footer > div:nth-of-type(2){padding: 40px 0;}
    footer > div:nth-of-type(2) > div{margin-bottom: 30px;}
    footer > div:nth-of-type(2) > div > *{float: left;}
    footer > div:nth-of-type(2) > div::after{content: ''; clear: both; display: block; visibility: hidden;}
    footer > div:nth-of-type(2) > div > ul{margin-right: 19%; color: var(--cyan4);}
    footer > div:nth-of-type(2) > div > ul.active{font-size: 14px;}
    footer > div:nth-of-type(2) > div > ul::after{content: ''; display: block; clear: both; visibility: hidden;}
    footer > div:nth-of-type(2) > div > ul li{float: left;}
    footer > div:nth-of-type(2) > div > ul li:not(:first-of-type){margin-left: 40px;}
    footer > div:nth-of-type(2) > div > a:not(:first-of-type){margin-left: 20px;}
    footer > div:nth-of-type(2) > div > a:nth-of-type(1){background: url('../images/sns_01.png') no-repeat center; display: inline-block; text-indent: -9999px; padding: 0px 8px; box-sizing: border-box;}
    footer > div:nth-of-type(2) > div > a:nth-of-type(2){background: url('../images/sns_02.png') no-repeat center; display: inline-block; text-indent: -9999px; padding: 0px 8px; box-sizing: border-box;}
    footer > div:nth-of-type(2) > div > a:nth-of-type(3){background: url('../images/sns_03.png') no-repeat center; display: inline-block; text-indent: -9999px; padding: 0px 6px; box-sizing: border-box;}
    footer > div:nth-of-type(2) > div > a:nth-of-type(4){background: url('../images/sns_04.png') no-repeat center; display: inline-block; text-indent: -9999px; padding: 0px 6px; box-sizing: border-box;}
    footer > div:nth-of-type(2) .bx-wrapper{
        box-shadow: none;
        border: none;
        background: #fff;
        position: relative;
        margin-bottom: 0px;
        padding: 0;
        max-width: 1200px !important;
    }
    footer > div:nth-of-type(2) .bx-wrapper .bx-viewport{
        /* height: 20px !important; */padding: 10px 0;
    }
    footer > div:nth-of-type(2) .bx-wrapper .bx-viewport .tickerSlider:after{
        content: ''; display: block; clear: both; 
    }
    footer > div:nth-of-type(2) .bx-wrapper .bx-viewport .tickerSlider li a{
        color: var(--gray3); display: block; text-align: center;
    }
    footer > div:nth-of-type(3){padding: 30px 0; background-color: #38524d;}
    footer > div:nth-of-type(3)::after{content: ''; display: block; clear: both; visibility: hidden;}
    footer > div:nth-of-type(3) > *{float: left; color: var(--gray9);}
    footer > div:nth-of-type(3) ul{margin-left: 41%;}
    footer > div:nth-of-type(3) ul li{float: left;}
    footer > div:nth-of-type(3) ul li:not(:first-of-type){ margin-left: 30px;}
    footer > div:nth-of-type(3) ul li a{color: inherit;}

}